In [106]:
lines = [
    'How to tokenize?\nLike a boss.',
    'Google is accessible via http://www.google.com',
    '1000 new followers! #TwitterFamous',
]

In [107]:
lines

['How to tokenize?\nLike a boss.',
 'Google is accessible via http://www.google.com',
 '1000 new followers! #TwitterFamous']

In [108]:
for line in lines:
    print(line.split())

['How', 'to', 'tokenize?', 'Like', 'a', 'boss.']
['Google', 'is', 'accessible', 'via', 'http://www.google.com']
['1000', 'new', 'followers!', '#TwitterFamous']

In [109]:
import re

_token_pattern = r"\w+"
token_pattern = re.compile(_token_pattern)
    
for line in lines:
    print(token_pattern.findall(line))

['How', 'to', 'tokenize', 'Like', 'a', 'boss']
['Google', 'is', 'accessible', 'via', 'http', 'www', 'google', 'com']
['1000', 'new', 'followers', 'TwitterFamous']

In [115]:
_token_pattern = r"\w+"
token_pattern = re.compile(_token_pattern)

def tokenizer(line):
    line = line.lower()
    line = re.sub(r'http[s]?://[\w\/\-\.\?]+','_url_', line)
    line = re.sub(r'\d+:\d+','_time_', line)
    line = re.sub(r'#\w+', '_hashtag_', line)
    line = re.sub(r'\d+','_num_', line)
    return token_pattern.findall(line)

for line in lines:
    print(tokenizer(line))

['how', 'to', 'tokenize', 'like', 'a', 'boss']
['google', 'is', 'accessible', 'via', '_url_']
['_num_', 'new', 'followers', '_hashtag_']

In [114]:
import re

_token_pattern = r"(?u)\b\w\w+\b"
token_pattern = re.compile(_token_pattern)
    
for line in lines:
    print(token_pattern.findall(line))

['How', 'to', 'tokenize', 'Like', 'boss']
['Google', 'is', 'accessible', 'via', 'http', 'www', 'google', 'com']
['1000', 'new', 'followers', 'TwitterFamous']

In [146]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer(lowercase=True, tokenizer=tokenizer)

x = vec.fit_transform(lines)

In [147]:
print(list(vec.vocabulary_.keys()))

['how', 'to', 'tokenize', 'like', 'a', 'boss', 'google', 'is', 'accessible', 'via', '_url_', '_num_', 'new', 'followers', '_hashtag_']

In [148]:
df = pd.DataFrame(
    x.todense(), 
    columns=vec.vocabulary_.keys(),
)

df.index.name = 'doc-id'

df

,how,to,tokenize,like,a,boss,google,is,accessible,via,_url_,_num_,new,followers,_hashtag_
doc-id,,,,,,,,,,,,,,,
0,0,0,0,1,0,1,0,0,1,0,1,0,1,1,0
1,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1
2,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0

In [139]:
flight_delayed_lines = [
    'Flight was delayed, I am not happy',
    'Flight was not delayed, I am happy'
]

In [152]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer(ngram_range=(2,2))

x = vec.fit_transform(flight_delayed_lines)

df = pd.DataFrame(
    x.todense(), 
    columns=vec.vocabulary_.keys(),
)

df.index.name = 'doc-id'

df

,flight was,was delayed,delayed am,am not,not happy,was not,not delayed,am happy
doc-id,,,,,,,,
0,0,1,1,1,0,1,1,0
1,1,0,1,1,1,0,0,1

In [157]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer(analyzer='char', ngram_range=(4,4))

x = vec.fit_transform(flight_delayed_lines)

df = pd.DataFrame(
    x.todense(), 
    columns=vec.vocabulary_.keys(),
)

df.index.name = 'doc-id'

df

,flig,ligh,ight,ght,ht w,t wa,was,was,as d,s de,...,t ha,hap,happ,appy,as n,s no,ot d,t de,am h,m ha
doc-id,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,0,1,1,...,1,0,1,1,0,0,1,1,1,1
1,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,1,1,0,1,1,1

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()

x = vec.fit_transform(flight_delayed_lines)

df = pd.DataFrame(
    x.todense(), 
    columns=vec.vocabulary_.keys(),
)

df.index.name = 'doc-id'

df

In [71]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer(tokenizer=tokenizer)

x = vec.fit_transform(lines)